
html.theme-dark .group-wWM3zP_M- {
    background-color: rgb(20, 21, 26);
}
/*
html.theme-dark .chart-page {
    background: white;
}

html.theme-dark .group-2JyOhh7Z- {
    !*background-color: rgb(20, 21, 26);*!
    background-color: white;
}

html.theme-dark .chart-controls-bar {
    !*background-color: rgb(20, 21, 26);*!
    background-color: white;
}

html.theme-dark .fill-1djIbBXv- {
    !*background-color: rgb(20, 21, 26);*!
    background-color: white;
}*/
